body {
  margin: 0;
  padding: 0;
}
html{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    margin: auto;
    margin-top: 20px;
    width: 80%;
    overflow: hidden;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
   
}

.container:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    transition: 0.4s;
}
.news{
    margin-bottom: 10px;
    width: 99%;
    padding: 5px;
    overflow: hidden;
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.news:hover{
    background-color: #e9e9e9;
    transition: 0.6s;
    cursor: pointer;
}

.news h3{
    text-align: left;
    color: #328a8a;
    padding-left: 10px;
}
.news p{
    text-align: justify;
    color: #333;
    padding-left: 10px;
    padding-right: 10px;
}
header {
    background-image: url('image/desktop-wallpaper-windows-xp-original-windows-xp-meme-meme.jpg');
    width: 60%;
    background-size: cover; 
    background-position: center;
    color: white;
    padding: 10px 0;
    text-align: center;
    width: 100%;
}
#text_introduce{
    text-align: left;
    font-size: 130%;
}

main h2{
    text-align: center;
}
nav{
    background-color: #bdbfc0;
    padding: 2px 0;
    text-align: center;            
}
nav li{
    display: inline-block;
    margin: 5px;
}
nav li a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
}
nav li a:hover{
    background-color: #3dd4af;
    padding: 10px;
    color: #ffffff;
    border-radius: 4px;
}

h2{
    color: #004e4e;
    margin-top: 20px;
}
label{
    font-weight: bold;
    color: #172926;
}
main img{
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
}
#input_profile input{
    width: 30%;
    padding: 8px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    border-radius: 4px; 
}

#submit_button{
    margin-top: 13px;
    background-color: #004e4e;
    width: 18%;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button:hover, #submit_button:hover{
    background-color: #003333;
}


.btn{
    display: inline-block;
    background-color: #0f5353;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}
.btn:hover{
    background-color: #023164;
}


table, td,th{ 
    border: 1px solid black;
    border-collapse: collapse;
    padding: 0.1px;
    text-align: center;
    font-size: 120%;
}


table tr:nth-child(even) {
    background-color: #f2f2f2;
}

th{
    border: 1px solid black;
    border-collapse: collapse;
    padding : 20px;
}

.member_img{
    width: 50%px;
    object-fit: cover;
    border-radius: 50%;
}

footer{
    margin-top: 15px;
    display: block;
    background-color: #333;
    color: white;
    padding: 0.1px;
}

footer p{
    margin: 20px;
}

summary{
    font-weight: bold   ;
    color: #004e4e;
    background-color: #e2e2e2;
    padding: 20px;
    
    margin-bottom: 20px;
    border-radius: 5px;
    list-style: none;
}
#text-introduce{
    text-align: left;
    font-size: 130%;
    margin-bottom: 20px;
}
summary:hover{
    border-left: 6px solid #299e9e;
    background-color: #dddcdc;
    cursor: pointer;
    transition: 0.1s;
}

details[open] summary {
    border-left: 6px solid #25b8b8; /* Border khi nội dung mở */
    background-color: #cfcfce;
}

.detail-content{
    margin-top: -20px;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-bottom-left-radius: 40px;
    border-radius: 5px;
    border-top: none;
    margin-bottom: 20px;
}

.detail-content li{
    font-size: 105%;
    list-style: none;
    background-color: #e2e2e2;
    padding: 16px;
    border-left: 5px solid #25b8b8;
    border-radius: 5px;
    margin-bottom: 4px;
    color: #333;
    color: #1a4e46;
}

.detail-content li:hover{
    margin-left: 10px;
    background-color: #dfdddd;
    transition: 0.4s;
    color: #256e6e;
}
.detail-content h4{
    color: #328a8a;
    font-size: 110%;
}

.detail-content h4:hover{
    color: #004e4e;
    transition: 0.3s;
}

#collective-achievement-table{
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-bottom-left-radius: 40px;
    border-radius: 5px;
    border-top: none;
    margin-bottom: 20px;
}

#collective-achievement-table li{
    font-size: 105%;
    list-style: none;
    background-color: #e2e2e2;
    padding: 16px;
    border-left: 5px solid #25b8b8;
    border-radius: 5px;
    margin-bottom: 4px;
    color: #333;
    color: #1a4e46;
}

#collective-achievement-table li:hover{
    margin-left: 10px;
    background-color: #dfdddd;
    transition: 0.4s;
    color: #256e6e;
}
#collective-achievement-table h3{
    color: #328a8a;
    font-size: 110%;
}

#collective-achievement-table h3:hover{
    color: #004e4e;
    transition: 0.3s;
}